


#body{
    border: 1px black solid;
    padding: 10px 10px 25px 10px;
    border-radius: 15px;
    display: flex;
    max-width: 266px;
    margin: auto;
    background-color: rgba(0, 255, 255, 0.103);
}

#container{
    margin: auto;
}

#title{
    text-align: center;
}

.inputInformation{
    margin-bottom: 15px;
    display: block;
}

.inputProject:focus{
    outline: none;

}

#containerRes{
    margin-top: 5px;
    padding: 10px;
}

.textAnswerT{
    margin: 5px;
}